@import 'src/scss/basics/_variables.scss';

.main {
	display: flex;
	flex-direction: column;
	margin-top: 150px;
}

.gradientBlock {
	margin-inline: auto;
	position: relative;
	width: 94%;
	height: 355px;

	border-radius: 60px;
	background: var(
		--3-color-gradient,
		linear-gradient(90deg, #faed00 0%, #00d900 51.44%, #21ba5d 100%)
	);

	@media (max-width: 1460px) {
		.spanSecond {
			left: 11% !important;
			top: 155px !important;
		}
	}

	@media (max-width: 1260px) {
		img {
			opacity: 0.5;
		}

		.tour {
			img {
				opacity: 1;
			}
		}
	}

	@media (max-width: 707px) {
		.spanSecond {
			left: 11% !important;
			top: 255px !important;
		}
	}

	.spanFirst {
		color: #fff;
		font-size: 62px;
		font-weight: 600;

		position: absolute;
		top: 95px;
		left: 11%;
		z-index: 1;
	}

	.spanSecond {
		color: #fff;
		font-size: 62px;
		font-weight: 600;

		position: absolute;
		top: 150px;
		left: 39%;
		z-index: 1;
	}

	img {
		position: absolute;
		right: 5%;
		top: 10%;

		width: 410px;
		border-radius: 10px;
	}

	.tour {
		position: absolute;
		right: 27%;
		top: 40px;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 190px;
		height: 55px;

		border-radius: 15px;
		border: 2px solid #fff;

		cursor: pointer;
		transition: all 0.3s ease-in-out;

		span {
			transition: all 0.3s ease-in-out;

			color: #fff;
			font-size: 20px;
			font-weight: 500;
		}

		&:hover {
			border: transparent;
			span {
				color: transparent;
			}
			img {
				transform: translate(-50%);
				scale: 1.2;
			}
		}

		img {
			position: absolute;
			left: 55%;
			top: 3px;

			width: 190px;
			height: 45px;

			transition: all 0.3s ease-in-out;
		}
	}
}

// .logo {
// 	position: absolute;
// 	background-color: #fff;
// 	border-radius: 50%;

// 	top: 50px;
// 	left: 10px;
// 	background-image: url('src/assets/photos/logo.png');
// 	background-position: center;
// 	background-size: cover;
// 	width: 100px;
// 	height: 100px;
// }

.whatIs {
	margin: 18px auto 0 auto;

	font-size: 32px;
	font-weight: 500;
}

.officeBlock {
	display: flex;
	flex-direction: row;
	margin-top: 100px;
	margin-left: 39px;

	.officeBlockGreen {
		width: 75px;
		height: 325px;

		border-radius: 10px;
		background: $green;
	}

	.officeBlockPhoto {
		background-image: url('/src/assets/photos/aboutOffice.jpg');
		background-position: center;
		background-size: cover;

		border-radius: 10px;

		width: 745px;
		height: 320px;

		margin-left: 14px;
	}
}

.officeInfo {
	display: flex;
	margin-left: 102px;
	position: relative;

	h1 {
		font-size: 54px;
		font-weight: 700;
	}

	h2 {
		font-size: 20px;
		font-weight: 400;
	}

	h3 {
		color: #676767;
		font-size: 16px;
		font-weight: 400;
	}

	.infoSecond {
		margin-left: 55px;
		margin-right: 250px;
	}

	span {
		position: absolute;
		bottom: 5px;
		width: 100%;

		font-size: 20px;
		font-weight: 500;
	}
}

.bottomInfo {
	font-size: 22px;
	font-weight: 400;

	width: 95%;
	margin: 47px auto 0 auto;

	b {
		font-size: 22px;
		font-weight: 500;
	}
}
